.pagination {
    justify-content: center;
}

.btn,
.page-item{
    color: #009100 !important;
}

.page-link {
    color: #000;
}

.active>.page-link, .page-link.active {
    color: black;
    background: #009100 !important;
}

a {
    color: #009100;
    text-decoration: none;
}