.home {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
    height: 90vh;
}

.texts {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    padding: 2em;
    max-width: 75%;
    font-size: clamp(1em, 1vh, 1em);
    text-align: center;
    line-height: 2em;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px green;
}

.link__gun {
    display: flex;
    flex-wrap: nowrap;
    color: #15742b;
    padding: 3em;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.1em;
    transition: all .2s ease-in;
}

.link__gun img {
    max-width: 100px;
}

.link__gun:hover {
    color: #000;
}


.left__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 885px) {
    .texts {
        display: flex;
        flex-direction: column;
    }

    .rick__image img {
        width: 130px;
    }

    .link__gun img {
        width: 60px;
    }
}